<div class='row-fluid'>
 <div class='span12 '>
    <h2><%= @storyname %></h2>
    <p>
      <%= @vicinity %>
    </p>

    <h1>
      <%= link_to "/stories/new" do %>
        <i class="fa fa-plus-circle fa-2x"></i>
      <% end %>
      Location Stories
    </h1>

    <ul class="media-list">
      <% @stories.each do |story| %>
        <li class="media">
          <%= link_to "/stories/#{story.id}" do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-film fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to story, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to "/stories/#{story.id}" do %>
            <div class="media-body">
              <h4 class="media-heading"><%= story.title %></h4>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

<!--     <h2>Stories From Others</h2> -->
    <ul class="media-list">
      <% @otherstories.each do |story| %>
        <li class="media">
          <%= link_to "/stories/#{story.id}" do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-film fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to story, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="fa-stack fa-lg media-object pull-left">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
            </span>
          <% end %>
          <%= link_to "/stories/#{story.id}" do %>
            <div class="media-body">
              <h4 class="media-heading"><%= story.title %></h4>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>

   </div>
</div>
